.bookmark-tile {
  height: 200px;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  margin: 10px;
}
.delete-btn {
  grid-area: button;
  display: flex;
  max-height: 20px;
  flex-flow: column;
  justify-content: center;
}
.bookmark-container {
  overflow: auto;
  margin-top: 20px;
}
.bookmark-header {
  display: flex;
  justify-content: center;
  font-size: larger;
  margin-bottom: 20px;
}
.bookmark-card {
  border: rgba(181, 190, 98, 0.651) solid 1px;
}
