.bookmark-tile {
  height: 200px;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  margin: 10px;
}
.delete-btn {
  grid-area: button;

  height: 30px;
}
.bookmark-container {
  overflow: auto;
  margin-top: 20px;
}
.bookmark-header {
  display: flex;
  justify-content: center;
  font-size: larger;
  margin-bottom: 20px;
}
.bookmark-card {
  border: rgba(181, 190, 98, 0.651) solid 1px;
}
/* .bookmark-card :hover {
  box-shadow: 1px 5px 5px rgba(97, 69, 69, 0.534);
} */
.bookmark-delete-container {
  display: flex;
  align-items: center;
}
