.ticket-card {
  display: grid;
  grid-template-areas: "info image";
  grid-template-columns: 70% 30%;
  width: 700px;
  height: 150px;

  box-sizing: content-box;
}
.ticket-card__image-container {
  grid-area: image;
  height: 150px;
  object-fit: cover;
}

.ticket-card__detail-container {
  grid-area: info;
  height: 150px;
}
.ticket-image {
  width: 100%;
}
