@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
.landing-image-container {
  overflow: hidden;
  grid-area: content;
  position: relative;
}
.landing-image {
  width: 100%;
  z-index: 1;
}
.motto {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  font-size: 70px;
  color: #fea82f;
  top: 41%;
  left: 24%;
  font-family: "Niconne";
}
