.ticket-tile {
  height: 150px;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  margin: 10px;
}
.tab-header {
  margin: 10px;
  display: flex;
}
.ticket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabs {
  padding: 10px;
  border: 1px black solid;
}

.tickets-header {
  display: flex;
  justify-content: center;
  font-size: larger;
  margin-bottom: 20px;
}
.active {
  color: purple;
}
.ticket-container {
  overflow: auto;
  margin-top: 20px;
}
